* {
    box-sizing: border-box;
}

html,
body {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    padding: 1rem;
}

header {
    margin-bottom: 3rem;
}

h1 {
    font-size: 3rem;
}

.panel {
    display: inline-block;
    width: 20%;
    border: 1px solid #333;
}

.panel h2 {
    background-color: dodgerblue;
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
}

.panel p {
    padding: 1rem;
}
